
@{
    ViewBag.Title = "servicesPartial";
    Layout = null;
}

@model List<proyectoFinal.Models.Service>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Description</th>
            <th>Date</th>
            <th>Status</th>
            <th>Type Service</th>
            <th>Created by</th>
            <th>Assigned to</th>
        </tr>
    </thead>
    <tbody>
        @foreach (proyectoFinal.Models.Service s in Model)
        {
            <tr>
                <td>@s.id</td>
                <td>@s.companyName</td>
                <td>@s.description</td>
                <td>@s.date</td>
                <td>@s.status</td>
                <td>@s.typeService</td>
                <td>@s.adminID</td>
                <td>@s.userID</td>
            </tr>
        }
    </tbody>
</table>
